<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>WebShop</span>
      <div class="spacer"></div>
  </div>
  
  <div class="wrapper fadeInDown">
    <div id="formContent">
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://www.kindpng.com/picc/m/639-6392114_kentex-free-account-member-login-icon-png-transparent.png" id="icon" alt="User Icon" />
      </div>

      <br><br>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="email" [(ngModel)]="email">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" [(ngModel)]="password">
        <br><br>
        <button (click)="login()" class="fadeIn fourth">Log In</button>
      </form>
  
    </div>
  </div>