form {
    position: absolute;
    top: 110px;
    bottom: 0px;
    width:25%;
    margin-top: 15px;
    margin-left: 550px;
}

h2 {
    position: absolute;
    top: 70px;
    bottom: 0px;
    width:100%;
    margin-left: 650px;
}

button[type="submit"] {
    margin-left: 160px;
}